:root {
    --color-bg: hsl(212, 45%, 89%);
    --color-card: hsl(0, 0%, 100%);
    --first-text: hsl(218, 44%, 22%);
    --secondary-text: hsl(216, 15%, 48%);
    --shadow-box: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --font-family: outfit, sans-serif;
    --font-size-title: 22px;
    --font-size-p: 15px;
    --radius-card: 20px;
    --radius-img: 10px;
    --attribution: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    text-align: center;
    background-color: var(--color-card);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-box);
    padding: 16px 16px 40px 16px;
}

.card-image {
    border-radius: var(--radius-img);
    width: 100%;
    margin-bottom: 24px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
}

h1 {
    font-size: var(--font-size-title);
    color: var(--first-text);
    line-height: 120%;
    
}

p {
    font-size: var(--font-size-p);
    color: var(--secondary-text);
    line-height: 140%;
}

footer {
    margin-top: 10px;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: var(--attribution);
}